@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --main_color:#1e1e28;
  --primary_color:#ca8a04;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #191923; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
.citiyValue{
  color:#8c8c8e;
}
 
 
.divide_line{
  background: #646466;
  width: 100%;
  height: 1px;
  opacity: 0.3;
}
 
.art_header{
  height: 235px;
  /* background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%); */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
}

.p-15-15 {
  padding: 240px 0 20px;
}
/* cicle animate */ 

.circle-wrap { 
  width: 54px;
  height: 54px;
  /* background: var(--main_color); */
  border-radius: 50%; 
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 54px;
  height: 54px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 54px, 54px, 22px); 
}

/* .circle-wrap .circle .mask {
  clip: rect(0px, 54px, 54px, 22px);
} */

.circle-wrap .inside-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* background: #1e1e28; */
  line-height: 45px;
  text-align: center;
  margin-top: .3rem;
  margin-left: .3rem; 
  position: absolute;
  z-index: 100; 
  font-size: .8em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, 40px, 54px, 0px);
  background-color: var(--primary_color);
}


.mask2 .fill2 {
  clip: rect(0px, 22px, 54px, 0px);
  background-color: var(--primary_color);
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 1s;
  transform: rotate(135deg);
}
.color{
  position: absolute;
  background-color: var(--primary_color); 
  height: 5px;  
  animation: progres1 ease-in 4s;  
}
.color[data-width="90"]{
  width: 90%;
}
.color[data-width="60"]{
  width: 60%; 
}
.color[data-width="80"]{
  width: 80%; 
}
.color[data-width="70"]{
  width: 70%; 
}

/* content css */

.art-top-bg-overlay { 
  position: relative;
  height: 100%;
  width: 100%;
  /* bg-gradient-to-b from-[#1e1e28] */
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 30, 40, 0.93)), color-stop(70%, rgba(30, 30, 40, 0.96)), color-stop(80%, rgba(30, 30, 40, 0.99)), to(#1e1e28)); */
  
}

.art-top-bg-overlay2 {
  opacity: 0.6; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 63, 0.93)), color-stop(70%, rgba(69, 69, 83, 0.96)), color-stop(80%, rgba(84, 84, 88, 0.99)), to(#5a5a69));
}
 
.profile-pic{
  /* height: 48vmin;
  top: -111px;
  right: 1px; */ 
  right: 30px;
  bottom: 0;
  right: 1px; 
  height: 395px;
}
 
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary_color);
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}

/* @media only screen and (max-width:675px) {
  .art_header{
    height: 235px; 
    position: relative;
  }
} */


@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes progres1{
  0%{
    width: 0%;
  }
  50%{
      width: 100%;
  }
};




/* Load animate */

#loader {
  width: 80px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px -40px;
  z-index: 1000;

}

.lightsaber {
  position: absolute;
  width: 4px;
  height: 12px;
  background-color: #666;
  border-radius: 1px;
  bottom: 0;
}

.lightsaber.ls-left {
  left: 0;
}

.lightsaber.ls-right {
  right: 0;
}

.lightsaber:before {
  position: absolute;
  content: ' ';
  display: block;
  width: 2px;
  height: 25px;
  max-height: 1px;
  left: 1px;
  top: 1px;
  background-color: #fff;
  border-radius: 1px;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
}

.lightsaber:after {
  position: absolute;
  content: ' ';
  display: block;
  width: 2px;
  height: 2px;
  left: 1px;
  top: 4px;
  background-color: #fff;
  border-radius: 50%;
}

.ls-particles {
  position: absolute;
  left: 42px;
  top: 10px;
  width: 1px;
  height: 5px;
  background-color: rgb(51, 51, 51, 0);
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}


.lightsaber.ls-green:before {
  -webkit-animation: showlightgreen 2s ease-in-out infinite 1s; animation: showlightgreen 2s ease-in-out infinite 1s;
}

.lightsaber.ls-red:before {
  -webkit-animation: showlightred 2s ease-in-out infinite 1s; animation: showlightred 2s ease-in-out infinite 1s;
}


.lightsaber.ls-left {
  -webkit-animation: fightleft 2s ease-in-out infinite 1s; animation: fightleft 2s ease-in-out infinite 1s;
}

.lightsaber.ls-right {
  -webkit-animation: fightright 2s ease-in-out infinite 1s; animation: fightright 2s ease-in-out infinite 1s;
}

.ls-particles.ls-part-1 {
  -webkit-animation: particles1 2s ease-out infinite 1s; animation: particles1 2s ease-out infinite 1s;
}

.ls-particles.ls-part-2 {
  -webkit-animation: particles2 2s ease-out infinite 1s; animation: particles2 2s ease-out infinite 1s;
}

.ls-particles.ls-part-3 {
  -webkit-animation: particles3 2s ease-out infinite 1s; animation: particles3 2s ease-out infinite 1s;
}

.ls-particles.ls-part-4 {
  -webkit-animation: particles4 2s ease-out infinite 1s; animation: particles4 2s ease-out infinite 1s;
}

.ls-particles.ls-part-5 {
  -webkit-animation: particles5 2s ease-out infinite 1s; animation: particles5 2s ease-out infinite 1s;
}

@-webkit-keyframes showlightgreen {
  0% {
      max-height: 0;
      box-shadow: 0 0 0 0 #87c054;
  }

  5% {
      box-shadow: 0 0 4px 2px #87c054;
  }
  
  10% {
      max-height: 22px;
  }

  80% {
      max-height: 22px;
  }
  
  85% {
      box-shadow: 0 0 4px 2px #87c054;
  }
  
  100% {
      max-height: 0;
      box-shadow: 0 0 0 0 #87c054;
  }
}

@-webkit-keyframes showlightred {
  0% {
      max-height: 0;
      box-shadow: 0 0 0 0 #f06363;
  }

  20% {
      box-shadow: 0 0 4px 2px #f06363;
  }
  
  25% {
      max-height: 22px;
  }

  80% {
      max-height: 22px;
  }
  
  85% {
      box-shadow: 0 0 4px 2px #f06363;
  }
  
  100% {
      max-height: 0;
      box-shadow: 0 0 0 0 #f06363;
  }
}

@-webkit-keyframes fightleft {
  0% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      left: 0;
      bottom: 0;
  }
  
  30% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      bottom: 0;
  }
  
  40% {
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
      left: 0;
      bottom: 2px;
  }
  
  45%{
      -webkit-transform: rotateZ(65deg);
      transform: rotateZ(65deg);
      left: 0;
  }
  
  65%{
      -webkit-transform: rotateZ(410deg);
      transform: rotateZ(410deg);
      left: 30px;
      bottom: 10px;
  }
  
  95% {
      -webkit-transform: rotateZ(410deg);
      transform: rotateZ(410deg);
      left: 0;
      bottom: 0;
  }
  
  100% {
      -webkit-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
      left: 0;
      bottom: 0;
  }
}

@-webkit-keyframes fightright {
  0% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      right: 0;
      bottom: 0;
  }
  
  30% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      bottom: 0;
  }
  
  45% {
      -webkit-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
      right: 0;
      bottom: 2px;
  }
  
  50%{
      -webkit-transform: rotateZ(-65deg);
      transform: rotateZ(-65deg);
      right: 0;
  }
  
  68%{
      -webkit-transform: rotateZ(-410deg);
      transform: rotateZ(-410deg);
      right: 27px;
      bottom: 13px;
  }
  
  95% {
      -webkit-transform: rotateZ(-410deg);
      transform: rotateZ(-410deg);
      right: 0;
      bottom: 0;
  }
  
  100% {
      -webkit-transform: rotateZ(-360deg);
      transform: rotateZ(-360deg);
      right: 0;
      bottom: 0;
  }
}

@-webkit-keyframes particles1 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(35deg) translateY(0px);
      transform: rotateZ(35deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(35deg) translateY(0px);
      transform: rotateZ(35deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(35deg) translateY(0px);
      transform: rotateZ(35deg) translateY(0px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(35deg) translateY(-30px);
      transform: rotateZ(35deg) translateY(-30px);
  }
}

@-webkit-keyframes particles2 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(0px);
      transform: rotateZ(-65deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(0px);
      transform: rotateZ(-65deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(-65deg) translateY(0px);
      transform: rotateZ(-65deg) translateY(0px);
  }
  
  95% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(-40px);
      transform: rotateZ(-65deg) translateY(-40px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(-40px);
      transform: rotateZ(-65deg) translateY(-40px);
  }
}

@-webkit-keyframes particles3 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(0px);
      transform: rotateZ(-75deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(0px);
      transform: rotateZ(-75deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(-75deg) translateY(0px);
      transform: rotateZ(-75deg) translateY(0px);
  }
  
  97% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(-35px);
      transform: rotateZ(-75deg) translateY(-35px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(-35px);
      transform: rotateZ(-75deg) translateY(-35px);
  }
}

@-webkit-keyframes particles4 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(0px);
      transform: rotateZ(-25deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(0px);
      transform: rotateZ(-25deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(-25deg) translateY(0px);
      transform: rotateZ(-25deg) translateY(0px);
  }
  
  97% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(-30px);
      transform: rotateZ(-25deg) translateY(-30px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(-30px);
      transform: rotateZ(-25deg) translateY(-30px);
  }
}

@-webkit-keyframes particles5 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(0px);
      transform: rotateZ(65deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(0px);
      transform: rotateZ(65deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(65deg) translateY(0px);
      transform: rotateZ(65deg) translateY(0px);
  }
  
  97% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(-35px);
      transform: rotateZ(65deg) translateY(-35px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(-35px);
      transform: rotateZ(65deg) translateY(-35px);
  }
}

@keyframes showlightgreen {
  0% {
      max-height: 0;
      box-shadow: 0 0 0 0 #87c054;
  }

  5% {
      box-shadow: 0 0 4px 2px #87c054;
  }
  
  10% {
      max-height: 22px;
  }

  80% {
      max-height: 22px;
  }
  
  85% {
      box-shadow: 0 0 4px 2px #87c054;
  }
  
  100% {
      max-height: 0;
      box-shadow: 0 0 0 0 #87c054;
  }
}

@keyframes showlightred {
  0% {
      max-height: 0;
      box-shadow: 0 0 0 0 #f06363;
  }

  20% {
      box-shadow: 0 0 4px 2px #f06363;
  }
  
  25% {
      max-height: 22px;
  }

  80% {
      max-height: 22px;
  }
  
  85% {
      box-shadow: 0 0 4px 2px #f06363;
  }
  
  100% {
      max-height: 0;
      box-shadow: 0 0 0 0 #f06363;
  }
}

@keyframes fightleft {
  0% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      left: 0;
      bottom: 0;
  }
  
  30% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      bottom: 0;
  }
  
  40% {
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
      left: 0;
      bottom: 2px;
  }
  
  45%{
      -webkit-transform: rotateZ(65deg);
      transform: rotateZ(65deg);
      left: 0;
  }
  
  65%{
      -webkit-transform: rotateZ(410deg);
      transform: rotateZ(410deg);
      left: 30px;
      bottom: 10px;
  }
  
  95% {
      -webkit-transform: rotateZ(410deg);
      transform: rotateZ(410deg);
      left: 0;
      bottom: 0;
  }
  
  100% {
      -webkit-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
      left: 0;
      bottom: 0;
  }
}

@keyframes fightright {
  0% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      right: 0;
      bottom: 0;
  }
  
  30% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      bottom: 0;
  }
  
  45% {
      -webkit-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
      right: 0;
      bottom: 2px;
  }
  
  50%{
      -webkit-transform: rotateZ(-65deg);
      transform: rotateZ(-65deg);
      right: 0;
  }
  
  68%{
      -webkit-transform: rotateZ(-410deg);
      transform: rotateZ(-410deg);
      right: 27px;
      bottom: 13px;
  }
  
  95% {
      -webkit-transform: rotateZ(-410deg);
      transform: rotateZ(-410deg);
      right: 0;
      bottom: 0;
  }
  
  100% {
      -webkit-transform: rotateZ(-360deg);
      transform: rotateZ(-360deg);
      right: 0;
      bottom: 0;
  }
}

@keyframes particles1 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(35deg) translateY(0px);
      transform: rotateZ(35deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(35deg) translateY(0px);
      transform: rotateZ(35deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(35deg) translateY(0px);
      transform: rotateZ(35deg) translateY(0px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(35deg) translateY(-30px);
      transform: rotateZ(35deg) translateY(-30px);
  }
}

@keyframes particles2 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(0px);
      transform: rotateZ(-65deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(0px);
      transform: rotateZ(-65deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(-65deg) translateY(0px);
      transform: rotateZ(-65deg) translateY(0px);
  }
  
  95% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(-40px);
      transform: rotateZ(-65deg) translateY(-40px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(-40px);
      transform: rotateZ(-65deg) translateY(-40px);
  }
}

@keyframes particles3 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(0px);
      transform: rotateZ(-75deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(0px);
      transform: rotateZ(-75deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(-75deg) translateY(0px);
      transform: rotateZ(-75deg) translateY(0px);
  }
  
  97% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(-35px);
      transform: rotateZ(-75deg) translateY(-35px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(-35px);
      transform: rotateZ(-75deg) translateY(-35px);
  }
}

@keyframes particles4 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(0px);
      transform: rotateZ(-25deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(0px);
      transform: rotateZ(-25deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(-25deg) translateY(0px);
      transform: rotateZ(-25deg) translateY(0px);
  }
  
  97% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(-30px);
      transform: rotateZ(-25deg) translateY(-30px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(-30px);
      transform: rotateZ(-25deg) translateY(-30px);
  }
}

@keyframes particles5 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(0px);
      transform: rotateZ(65deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(0px);
      transform: rotateZ(65deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(65deg) translateY(0px);
      transform: rotateZ(65deg) translateY(0px);
  }
  
  97% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(-35px);
      transform: rotateZ(65deg) translateY(-35px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(-35px);
      transform: rotateZ(65deg) translateY(-35px);
  }
}